*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    background-color: black;
}

header{
    height: 80%;
    width: 80%;
}

div{
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}

ul{
   display: flex;
   justify-content: end;
   gap: 20px;
   color: white;
}

a{
    color: white;
}